# SQL

Здесь приведены мои решения задач по SQL. Условия задач и данные взяты с сайта https://sql-ex.ru

Сначала подключим Postgresql server.

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

In [ ]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

Загружаем данные с сайта

In [ ]:
!wget https://sql-ex.ru/download/sql-ex-pg.sql

In [ ]:
with open('/content/sql-ex-pg.sql', 'r') as file:
    sql = file.read()

Запускаем скрипт

In [ ]:
con.execute(sql[1:])

Сделаем функцию, сокращающую функцию пандаса по отображению SQL

In [ ]:
import pandas as pd

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

#  Задача 1

Найдите класс, имя и страну для кораблей из таблицы Ships, имеющих не менее 10 орудий.

Посмотрим на таблицу Ships и Classes.

In [ ]:
sql = '''select * from ships s limit 5'''

In [ ]:
select(sql)

         name      class  launched
0  California  Tennessee      1921
1      Haruna      Kongo      1916
2        Hiei      Kongo      1914
3        Iowa       Iowa      1943
4   Kirishima      Kongo      1915

In [ ]:
sql = '''select * from classes c limit 5'''

In [ ]:
select(sql)

            class type     country  numguns  bore  displacement
0        Bismarck   bb     Germany        8  15.0         42000
1            Iowa   bb         USA        9  16.0         46000
2           Kongo   bc       Japan        8  14.0         32000
3  North Carolina   bb         USA       12  16.0         37000
4          Renown   bc  Gt.Britain        6  15.0         32000

Теперь напишем запрос для решения задачи.

In [ ]:
sql = ''' 
select s.class, s.name, c.country 
from classes c join ships s on s.class = c.class 
where numguns >= 10
'''

In [ ]:
select(sql)

            class            name country
0       Tennessee      California     USA
1  North Carolina  North Carolina     USA
2       Tennessee       Tennessee     USA
3  North Carolina      Washington     USA
4  North Carolina    South Dakota     USA

Проверяем ответ на сайте https://sql-ex.ru/exercises/index.php?act=learn&LN=18

# Задача 2

Найдите производителей самых дешевых цветных принтеров. Вывести: maker, price

Посмотрим на таблицы Product и Printer.

In [ ]:
sql = '''select * from product pro limit 5'''

In [ ]:
select(sql)

  maker model     type
0     B  1121       PC
1     A  1232       PC
2     A  1233       PC
3     E  1260       PC
4     A  1276  Printer

In [ ]:
sql = '''select * from printer pri limit 5'''

In [ ]:
select(sql)

   code model color    type  price
0     1  1276     n   Laser  400.0
1     2  1433     y     Jet  270.0
2     3  1434     y     Jet  290.0
3     4  1401     n  Matrix  150.0
4     5  1408     n  Matrix  270.0

Напишем запрос для решения задачи.

In [ ]:
sql = '''
select pro.maker, pri.price
from product pro join printer pri on pro.model = pri.model
where color = 'y' and price =
(select min(price) from printer where color='y')
'''

In [ ]:
select(sql)

  maker  price
0     D  270.0

Проверяем ответ на сайте https://sql-ex.ru/exercises/index.php?act=learn&LN=18#resPlace

# Задача 3

Перечислите номера моделей любых типов, имеющих самую высокую цену по всей имеющейся в базе данных продукции.

Посмотрим на таблицы PC, Laptop, Printer.

In [ ]:
sql = '''
select * from PC limit 5
'''

In [ ]:
select(sql)

   code model  speed  ram    hd   cd  price
0     1  1232    500   64   5.0  12x  600.0
1     2  1121    750  128  14.0  40x  850.0
2     3  1233    500   64   5.0  12x  600.0
3     4  1121    600  128  14.0  40x  850.0
4     5  1121    600  128   8.0  40x  850.0

In [ ]:
sql = '''
select * from Laptop limit 5
'''

In [ ]:
select(sql)

   code model  speed  ram    hd   price  screen
0     1  1298    350   32   4.0   700.0      11
1     2  1321    500   64   8.0   970.0      12
2     3  1750    750  128  12.0  1200.0      14
3     4  1298    600   64  10.0  1050.0      15
4     5  1752    750  128  10.0  1150.0      14

In [ ]:
sql = '''
select * from Printer limit 5
'''

In [ ]:
select(sql)

   code model color    type  price
0     1  1276     n   Laser  400.0
1     2  1433     y     Jet  270.0
2     3  1434     y     Jet  290.0
3     4  1401     n  Matrix  150.0
4     5  1408     n  Matrix  270.0

Напишем запрос для решения задачи.

In [ ]:
sql = '''
with all_models as (
select model, price
from PC
union 
select model, price
from Laptop
union 
select model, price
from Printer
)

select model
from  all_models
where price = (
select max(price)
from all_models)
'''

In [ ]:
select(sql)

  model
0  1750

Проверяем ответ на сайте https://sql-ex.ru/exercises/index.php?act=learn&LN=24#resPlace

# Задача 4

Одной из характеристик корабля является половина куба калибра его главных орудий (mw). С точностью до 2 десятичных знаков определите среднее значение mw для кораблей каждой страны, у которой есть корабли в базе данных.

Для нахождения среднего значения mw для кораблей каждой страны необходимо составить общую таблицу с кораблями потопленными и еще участвующими в боях.

In [ ]:
sql = '''
select country, round(avg((bore^3)/2)::numeric,2) 
from (
  select c.country, c.bore, s.name
  from classes c left join ships s on c.class = s.class 
  union
  select c.country, c.bore, o.ship
  from classes c left join outcomes o on c.class = o.ship) t
where name is not null
group by country
'''

In [ ]:
select(sql)

      country    round
0         USA  1897.78
1     Germany  1687.50
2  Gt.Britain  1687.50
3       Japan  1886.67

Проверим ответ на сайте https://sql-ex.ru/exercises/index.php?act=learn&LN=32#resPlace

# Задача 5

В предположении, что приход и расход денег на каждом пункте приема фиксируется произвольное число раз (первичным ключом в таблицах является столбец code), требуется получить таблицу, в которой каждому пункту за каждую дату выполнения операций будет соответствовать одна строка.
Вывод: point, date, суммарный расход пункта за день (out), суммарный приход пункта за день (inc). Отсутствующие значения считать неопределенными (NULL).

In [ ]:
sql = '''
select * from income
'''

In [ ]:
select(sql)

    code  point       date      inc
0      1      1 2001-03-22  15000.0
1      2      1 2001-03-23  15000.0
2      3      1 2001-03-24   3600.0
3      4      2 2001-03-22  10000.0
4      5      2 2001-03-24   1500.0
5      6      1 2001-04-13   5000.0
6      7      1 2001-05-11   4500.0
7      8      1 2001-03-22  15000.0
8      9      2 2001-03-24   1500.0
9     10      1 2001-04-13   5000.0
10    11      1 2001-03-24   3400.0
11    12      3 2001-09-13   1350.0
12    13      3 2001-09-13   1750.0

Напишем запрос для решения задачи.

In [ ]:
sql = '''
select point, date, sum(out) as out, sum(inc) as inc 
from (
select point, date, sum(out) as out, null as inc
from outcome
group by point, date
union
select point, date, null as out, sum(inc) as inc
from income
group by point, date) t1
group by point, date
order by point, date
'''

In [ ]:
select(sql)

    point       date       out      inc
0       1 2001-03-14  15348.00      NaN
1       1 2001-03-22       NaN  30000.0
2       1 2001-03-23       NaN  15000.0
3       1 2001-03-24   7163.00   7000.0
4       1 2001-03-26   1221.00      NaN
5       1 2001-03-28   2075.00      NaN
6       1 2001-03-29   4010.00      NaN
7       1 2001-04-11   3195.04      NaN
8       1 2001-04-13   4490.00  10000.0
9       1 2001-04-27   3110.00      NaN
10      1 2001-05-11   2530.00   4500.0
11      2 2001-03-22   2880.00  10000.0
12      2 2001-03-24       NaN   3000.0
13      2 2001-03-29   7848.00      NaN
14      2 2001-04-02   2040.00      NaN
15      3 2001-09-13   2700.00   3100.0
16      3 2001-09-14   1150.00      NaN

Проверим ответ на сайте: https://sql-ex.ru/exercises/index.php?act=learn&LN=30

# Задача 6

Пронумеровать уникальные пары {maker, type} из Product, упорядочив их следующим образом:
- имя производителя (maker) по возрастанию;
- тип продукта (type) в порядке PC, Laptop, Printer.
Если некий производитель выпускает несколько типов продукции, то выводить его имя только в первой строке;
остальные строки для ЭТОГО производителя должны содержать пустую строку символов (' ').

In [ ]:
sql = '''
select row_number() over(order by maker) as number, 
case when num=1 then maker
else ''
end as maker, type from (
  select row_number() over(partition by maker order by maker, order_type) as num,
  maker, type from (
    select distinct maker, type,
  case when type='pc' then 1
       when type='laptop' then 2
       else 3
       end as order_type
       from product
  ) as t
  ) as t1
  '''

In [ ]:
select(sql)

   number maker     type
0       1     A   Laptop
1       2             PC
2       3        Printer
3       4     B   Laptop
4       5             PC
5       6     C   Laptop
6       7     D  Printer
7       8     E       PC
8       9        Printer

Проверим ответ на сайте: https://sql-ex.ru/exercises/index.php?act=learn#resPlace

# Задача 7

Найдите классы, в которые входит только один корабль из базы данных (учесть также корабли в Outcomes).  
Напишем запрос для решения задачи.

In [ ]:
sql = '''
Select t.class
from(
  select c.class, s.name from(
  classes c join ships s on c.class=s.class)
  union
  select c.class, o.ship from(
  classes c join outcomes o on c.class=o.ship)) as t
group by t.class
having count(name)=1
'''

In [ ]:
select(sql)

      class
0  Bismarck

Проверим ответ на сайте: https://sql-ex.ru/exercises/index.php?act=learn&LN=37#resPlace

# Задача 8

Найти количество маршрутов, которые обслуживаются наибольшим числом рейсов.
Замечания. 
1) A - B и B - A считать РАЗНЫМИ маршрутами.
2) Использовать только таблицу Trip

In [ ]:
sql = '''
select * from trip limit 5
'''

In [ ]:
select(sql)

,trip_no,id_comp,plane,town_from,town_to,time_out,time_in
0,1100,4,Boeing,Rostov,Paris,1900-01-01 14:30:00,1900-01-01 17:50:00
1,1101,4,Boeing,Paris,Rostov,1900-01-01 08:12:00,1900-01-01 11:45:00
2,1123,3,TU-154,Rostov,Vladivostok,1900-01-01 16:20:00,1900-01-01 03:40:00
3,1124,3,TU-154,Vladivostok,Rostov,1900-01-01 09:00:00,1900-01-01 19:50:00
4,1145,2,IL-86,Moscow,Rostov,1900-01-01 09:35:00,1900-01-01 11:23:00

In [ ]:
sql = '''
select count(route) from
(select (town_from::text || ', ' || town_to::text) AS route FROM trip
group by route
having count(trip_no)=(
  select max(count_trip) from (
    select (town_from::text || ', ' || town_to::text) AS route, count(trip_no) as count_trip
    from trip
    group by route
  ) as t
)) as t1
'''

In [ ]:
select(sql)

   count
0      4

Проверим ответ на сайте: https://sql-ex.ru/exercises/index.php?act=learn&LN=67

# Задача 9

Среди пассажиров, которые пользовались услугами не менее двух авиакомпаний, найти тех, кто совершил одинаковое количество полётов самолетами каждой из этих авиакомпаний. Вывести имена таких пассажиров.

In [ ]:
sql = '''
select name
from (
select p.id_psg, name
from passenger p join pass_in_trip pt on p.id_psg=pt.id_psg
join trip t on pt.trip_no=t.trip_no
group by p.id_psg
having count(distinct id_comp) > 1
) t join pass_in_trip pt on t.id_psg=pt.id_psg
join trip tr on pt.trip_no=tr.trip_no
group by name
having count(distinct id_comp)=count(distinct tr.trip_no)
order by name
'''

In [ ]:
select(sql)

                   name
0  Bruce Willis
1  Kevin Costner
2  Ray Liotta